@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #438F68, #5A9C56);
}

main {
    border-radius: 10px;
    background-color: white;
    width: 650px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #154666;
}
h1 {
    color: #298073;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(26, 82, 73, 0.651);
}

h2 {
    color: #184C78;
}
p {
    text-align: justify;
}